registry=https://registry.npmmirror.com/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver/
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
electron_mirror=https://npmmirror.com/mirrors/electron/
selenium_cdnurl=https://npmmirror.comg/mirrors/selenium/
node_inspector_cdnurl=https://npmmirror.com/mirrors/node-inspector/
PUPPETEER_DOWNLOAD_HOST=https://npmmirror.com/mirrors
SASS_BINARY_SITE=https://npmmirror.com/mirrors/node-sass/
